body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

nav {
  box-shadow: none;
}

main {
  flex: 1 0 auto;
}

.blog-title {
  font-size: 14pt;
  font-weight: bold;
}

#logo {
font-family: Chivo,sans-serif!important;
 font-style: italic;
 font-weight: 700;
}
